#front-page-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#discussion-title-col {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#front-page-container > #front-page-title {
  text-align: center;
}

#front-page-container > #front-page-discussions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}