#front-page-container {
  margin-bottom: 2rem;
}

.frontpage-title-col {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.front-page-pagination-col {
  display: flex;
  justify-content: center;
}