.discussion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 2rem;
}

.discussion-container > .discussion-header {
  margin-bottom: 0.5rem;
}

.discussion-container > .discussion-header > h3 {
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: 0;
}

.discussion-container > .discussion-header > .discussion-date {
  font-style: italic;
  color: grey;
  font-size: 10pt;
}

.discussion-container > img {
  max-height: 150px;
}