.user-score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000;
}

.user-score-container > p {
    margin: 0;
}