.user-score-card {
  margin-bottom: 0.5rem;
}

.user-score-card .user-score-container {
  padding: 0;
}

.user-score-card .user-score-container .user-score-username-col {
  display: flex;
  align-items: center;
}

.user-score-card .user-score-container .user-score-score-col {
  text-align: right;
}