.discussion-responses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.discussion-responses-container > * {
  width: 50%;
}

.discussion-view-row {
  justify-content: center;
}

.discussion-view-row {
  justify-content: center;
  display: flex;
}

.discussion-view-col{
  justify-content: center;
  display: flex;
}