#common-reations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
#common-reactions-container > #reactions-container {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }