.discussion-response-col {
  margin-bottom: 1rem;
}

.discussion-response-col hr {
  width: 75%;
}

.discussion-response-img {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.discussion-response-img > img {
  max-height: 300px;
}